{% extends 'layout/main.html' %}
{% block title %} index {% endblock %}

{% block body %}
    {% if request.user.is_authenticated %}
        <h3>welcome back {{ user.username }}</h3>
    
    {% endif %} 
    <a class="btn btn-block btn-outline-success" href="{% url 'create' %}">Create a new book</a>
    <br>
    <a class="btn btn-block btn-outline-success"href="{% url 'createCat' %}">Create a new Category</a>
    <br>
    {% for book in books %}
        <img src="{{ book.thumb.url }}" alt="img" width="100px">
        <h2>{{ book.title }}</h2>
        <h5><b>{{ book.author }}</b></h5>
        <p>{{ book.content }}</p>
        <a class="btn btn-outline-danger" href="{% url 'delete' book.id %}">Delete</a>
        <a class="btn btn-outline-warning" href="{% url 'edit' book.id %}">edit</a>
        <hr>
    {% endfor %}
{% endblock %}